 <div class="row">
    
  

 
  <div class="row">
    <div class="large-12 columns">
    <ul data-orbit>
  <li>
    <%= image_tag("orbit_1.jpg") %>
    <div class="orbit-caption">Lorem ipsum Commodo veniam quis do incididunt exercitation quis enim minim consectetur quis adipisicing quis adipisicing pariatur pariatur id est proident nostrud.</div>
  </li>
  <li>
    <%= image_tag("orbit_2.jpg") %>
    <div class="orbit-caption">Lorem ipsum Sint in ut amet sunt tempor eu laborum veniam culpa ea proident proident veniam consequat est Excepteur laborum labore.</div>
  </li>
 <!--  <li>
    <%= image_tag("orbit_3.jpg") %>
    <div class="orbit-caption">Lorem ipsum Tempor dolor dolore incididunt aute laborum non in esse sit irure ut velit voluptate in.</div>
  </li> -->
  <li>
    <%= image_tag("orbit_4.jpg") %>
    <div class="orbit-caption">Lorem ipsum Duis velit cupidatat dolore irure elit pariatur in sint dolor adipisicing Excepteur dolore Ut velit dolore in laborum nisi esse.</div>
  </li>
  <li>
    <%= image_tag("orbit_5.jpg") %>
    <div class="orbit-caption">Lorem ipsum Ut veniam ut elit elit occaecat labore id dolore occaecat aliqua quis eiusmod laborum aliqua laborum ut esse.</div>
  </li>
  <li>
    <%= image_tag("orbit_6.jpg") %>
    <div class="orbit-caption">Lorem ipsum Ut dolore eu adipisicing sit veniam eu consectetur ad exercitation laboris anim amet ea reprehenderit eiusmod minim cillum reprehenderit.</div>
  </li>
</ul>
    
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->
 
  <div class="row">
    <div class="large-4 columns products">
      <%= image_tag("bottle.svg") %>
      <h4>STS Turf Products</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns testing">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Soil / Water Analysis</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns consulting">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Agronomic Consulting</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>