<!-- Orbit carousel Block -->
 
  <div class="row slideshow-wrapper">
    <div class="large-12 columns">
      <div class="preloader"></div>
      <ul data-orbit data-options="timer_speed:4000; pause_on_hover:false; animation:fade;">
        <li>
          <%= image_tag("orbit.new.1.jpg") %>
          <div class="orbit-caption"><h3 class="subheader">Lorem ipsum Commodo veniam quis do incididunt exercitation quis enim minim consectetur quis adipisicing quis adipisicing pariatur pariatur id est proident nostrud.</h3</div>
        </li>


        <li>
          <%= image_tag("orbit.new.2.jpg") %>
          <div class="orbit-caption"><h3 class="subheader">Lorem ipsum Sint in ut amet sunt tempor eu laborum veniam culpa ea proident proident veniam consequat est Excepteur laborum labore.</h3></div>
        </li>

        <li>
          <%= image_tag("orbit.new.3.jpg") %>
          <div class="orbit-caption"><h3 class="subheader">Lorem ipsum Tempor dolor dolore incididunt aute laborum non in esse sit irure ut velit voluptate in.</h3></div>
        </li>
      </ul>
      
      <hr />
    
    </div>
  </div>
  
<!-- Three-up Content Blocks -->
 
  <div class="row">

    <div class="large-4 columns products">
      <%= image_tag("turf.jpg") %>
      <h4>STS Turf Products</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns testing">
      <%= image_tag("testing.png") %>
      <h4>Soil / Water Analysis</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns consulting">
      <%= image_tag("agronomy.png") %>
      <h4>Agronomic Consulting</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  </div>
<hr />
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right success">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!-- Footer -->


  <footer class="row">
    <div class="large-12 columns">
  
      <div class="row">
        <div class="large-6 columns copy">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right footer">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>