<%= simple_form_for @product, html: {class: 'custom'} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :code %><br>
    <%= f.input :manufacturer_id, collection: Manufacturer.all(order: 'name'), include_blank: false, prompt: 'Please select company' %><br>
    <%= f.input :name %><br>
    <%= f.input :price %><br>


    <%= f.button :submit, class: 'radius' %>
<% end %>

