
    <h1>Listing products</h1></li>

      <table>
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Manufacturer</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr class="product" data-link="<%= edit_product_path(product) %>" >
              <td><%= product.code %></td>
              <td><%= product.name %></td>
              <td><%= number_to_currency product.price, unit: "$" %></td>
              <td><%= product.manufacturer.name %></td>
              <td><%= link_to 'Show', product, class: "button small radius secondary" %></td>
              <td><%= link_to 'Edit', edit_product_path(product), class: "button small radius" %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small radius alert" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
<%= link_to 'New Product', new_product_path, class: "button medium radius" %>
    
